.c-box-modal {
  .c-box-modal__container {
    position: fixed;
    top: calc(50% - 10px);
    left: 50%;
    width: 100%;
    max-width: rem(700px);
    padding: rem(60px);
    transform: translate(-50%, -50%);
    transition: z-index .1s step-end, opacity .1s linear, top .2s linear;
    background-color: $white;
    opacity: 0;
    z-index: -1;

    &.-show {
      top: 50%;
      transition: z-index .1s step-start, opacity .1s linear, top .2s linear;
      opacity: 1;
      z-index: 4;
    }

    form {
      position: relative;

      .icon {
        position: absolute;
        top: -50px;
        right: -50px;
        width: rem(20px);
        height: rem(20px);
        cursor: pointer;
      }

      .contain-input {
        margin-top: rem(30px);

        &:first-of-type {
          margin-top: 0;
        }

        label,
        input {
          display: block;
        }

        input {
          width: 100%;
          margin-top: rem(5px);
        }

        textarea {
          width: 100%;
          min-height: rem(150px);
          margin-top: rem(5px);
          padding: rem(10px);
          transition: border .1s linear;
          border: 2px solid rgba($color-4, .5);
          border-radius: 0;
          outline: 0;

          &:hover {
            border: 2px solid $color-4;
          }
        }
      }

      .contain-button {
        display: flex;
        justify-content: flex-end;
        margin-top: 30px;

        button {
          max-width: rem(180px);
        }
      }
    }
  }

  .c-box-modal__back {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition: z-index .1s step-end, opacity .1s linear;
    background-color: rgba($color-4, .4);
    opacity: 0;
    z-index: -1;

    &.-show {
      transition: z-index .1s step-start, opacity .1s linear;
      opacity: 1;
      z-index: 3;
    }
  }
}
