.c-box-title-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h2 {
    margin: rem(15px) 0 0;
    padding-bottom: rem(5px);
  }

  .c-button {
    max-width: rem(180px);
    margin-top: rem(20px);
  }

  .hidden-button {
    display: none;
  }
}
