.c-box-loader {
  .animated-background {
      animation-duration: 1s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      animation-name: placeHolderShimmer;
      animation-timing-function: linear;
      background: linear-gradient(to right, rgba($color-4, .05), rgba($color-4, .1) 25%, rgba($color-4, .15) 50%, rgba($color-4, .1) 75%, rgba($color-4, .05) 100%);
      background-size: 950px 204px;
      height: rem(20px);
      position: relative;
      margin-bottom: rem(20px);

      &.-image {
        height: rem(120px);
      }

      &.-blue {
        background: linear-gradient(to right, rgba($color-1, .05), rgba($color-1, .1) 25%, rgba($color-1, .15) 50%, rgba($color-1, .1) 75%, rgba($color-1, .05) 100%);
      }

      &.-s {
        width: calc(100% - 150px);
      }

      &.-m {
        width: calc(100% - 80px);
      }

      &.-footer {
        width: calc(100% - 280px);
        margin-top: rem(50px);
        margin-bottom: 0;
      }

      &.-circle {
        width: rem(70px);
        height: rem(70px);
        border-radius: rem(70px);
      }

      &.-orange {
        animation-duration: 2s;
        background: linear-gradient(to right, rgba($color-2, .1), rgba($color-2, .15) 25%, rgba($color-2, .2) 50%, rgba($color-2, .15) 75%, rgba($color-2, .1) 100%);
      }
  }

  &.-primary {
    background: rgba($color-4, .05);
    padding: 12px;
    min-width: calc(100vw - 40px);
    min-height: rem(394px);
    padding: rem(40px);
    margin-right: rem(15px);

    @media screen and (min-width: $screen-xl) {
      min-width: calc(100vw / 2.7);
      margin-right: rem(30px);
    }

    @media screen and (min-width: $screen-xxxl) {
      width: 610px;
      min-width: 610px;
    }
  }

  &.-secondary {
    background: rgba($color-4, .05);
    min-width: calc(100vw - 40px);
    min-height: rem(394px);
    padding: rem(40px);
    margin-right: rem(15px);

    @media screen and (min-width: $screen-l) {
      min-width: calc(100vw / 2.7);
      margin-right: rem(30px);
    }

    @media screen and (min-width: $screen-xl) {
      min-width: calc(100vw / 4);
    }

    @media screen and (min-width: $screen-xxxl-secondary) {
      width: rem(360px);
      min-width: rem(360px);
    }
  }

  &.-small {
    min-width: rem(250px);
    min-height: rem(200px);
    margin-right: rem(15px);
  }

  &.-back {
    background: rgba($color-4, .05);
    border-right: 15px solid $white;
    padding: rem(40px);
  }
}

@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}
