.c-box-title-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;

  &.-safari {
    flex-basis: 0;
  }

  h2 {
    margin: rem(15px) 0 0;
    padding-bottom: rem(5px);
  }

  .c-button {
    width: 100%;
    margin-top: rem(20px);

    @media screen and (min-width: $screen-m) {
      max-width: rem(180px);
    }
  }

  .hidden-button {
    display: none;
  }

  .read-more {
    margin-top: rem(20px);
  }
}
