.c-burger-menu {

  img {
    width: rem(100px);
    margin-bottom: (50px);
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
  }

  li {
    position: relative;
    text-transform: uppercase;
    cursor: pointer;
    color: rgba($color-4, .8) !important;

    &:not(:last-child) {
      margin-bottom: rem(30px);
    }
  }

  .icon-logo {
    position: absolute;
    top: rem(29px);
    left: rem(15px);
  }

  .bm-burger-button {
    position: absolute;
    width: rem(20px);
    height: rem(15px);
    right: rem(30px);
    top: rem(42px);
    cursor: pointer;
  }

  .bm-burger-bars {
    height: rem(2px) !important;
    background: $white;
  }

  .bm-cross-button {
    width: rem(27px) !important;
    height: rem(30px) !important;
    right: rem(27px) !important;
    top: rem(33px) !important;

    button {
      text-indent: 0 !important;
    }
  }

  .bm-cross {
    width: rem(2px) !important;
    height: rem(20px) !important;
    background: $white;
  }

  .bm-menu-wrap {
    top: 0;
  }

  .bm-menu {
    background: $white;
  }

  .bm-item-list {
    padding: rem(40px) rem(20px) rem(20px);

    ul {
      li {
        &.has-sub-menu {
          .sub-menu {
            padding: rem(20px) rem(25px);
          }
        }
      }
    }
  }

  .bm-overlay {
    display: none;
  }
}
