.c-button {
  width: 100%;
  height: 40px;
  border-radius: 100px;
  background-color: $white;
  box-shadow: 0 6px 3px 0 rgba(0, 0, 25, 0.1);

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  &.-primary,
  &.-secondary {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: auto;
    padding: 10px 30px;
    border: 0;
    border-radius: 100px;
    box-shadow: none;
    cursor: pointer;
  }

  &.-primary {
    background-color: $color-1;
    color: $white;

    &:hover {
      background-color: darken($color-1, 5%);
    }
  }

  &.-secondary {
    background-color: rgba($color-4, .05);
    color: $black;

    &:hover {
      background-color: rgba($color-4, .1);
    }
  }
}
