.c-footer {
  padding-top: rem(60px);
  padding-bottom: rem(60px);
  background-color: $color-1;

  @media screen and (min-width: $screen-l) {
    padding-top: rem(60px);
    padding-bottom: rem(60px);
  }

  .c-footer__logos {
    .c-footer__logos-container {
      margin-bottom: rem(20px);

      &:last-of-type {
        margin-bottom: 0;
      }

      h4 {
        opacity: .5;
      }

      .row {
        margin-top: rem(8px);
      }

      .link-logo {
        display: flex;
        align-items: center;

        &.-vizzuality {
          position: relative;
          top: rem(7px);
        }
      }

      .c-footer__logos-item {
        width: 100%;
        min-width: rem(100px);
        max-width: rem(130px);

        &.-esa {
          min-width: rem(100px);
          max-width: rem(110px);
          mix-blend-mode: screen;
        }

        &.-nasa {
          min-width: rem(60px);
          max-width: rem(80px);
          mix-blend-mode: screen;
        }
      }
    }
  }

  .c-footer__social {
    .c-footer__social-container {
      margin-bottom: rem(20px);

      &:last-of-type {
        margin-bottom: 0;
      }

      h4 {
        margin-bottom: rem(10px);
        opacity: .5;
      }

      .c-footer__newsletter-form {
        position: relative;

        .icon {
          position: absolute;
          top: 50%;
          right: rem(20px);
          transform: translate(0, -50%);
        }

        input {
          &[type='email'] {
            width: 100%;
            padding: rem(15px) rem(20px);
            border: 0;
            border-radius: rem(100px);
            outline: 0;
            background-color: rgba($white, .05);
            color: rgba($white, .5);

            @include placeholder {
              color: rgba($white, .5);
            }
          }
        }
      }

      .c-footer__logos-item {
        width: rem(24px);
        height: rem(24px);
      }

      .terms-text {
        margin-top: rem(20px);
      }
    }
  }
}
