.c-footer {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: $color-1;

  @media screen and (min-width: $screen-l) {
    padding-top: 130px;
    padding-bottom: 125px;
  }

  .c-footer__partners-funders-container {
    margin: 0 auto;

    span {
      opacity: .5;
    }

    .c-footer_logos-container {
      margin: 30px auto 0;

      .row {
        flex-direction: column;

        @media screen and (min-width: $screen-l) {
          flex-direction: row;
        }
      }

      .c-footer__logos-item {
        width: 100%;
        min-width: 150px;
        max-width: 150px;
        margin: 30px auto 0;

        &:first-of-type {
          margin-top: 0;
        }


        @media screen and (min-width: $screen-l) {
          min-width: 60px;
          max-width: 150px;
          margin-top: 0;
        }
      }
    }
  }

  .c-footer__newsletter-container {
    margin: 70px auto;

    @media screen and (min-width: $screen-l) {
      margin: 80px auto;
    }

    span {
      opacity: .5;
    }

    .c-footer__newsletter-form {
      input {
        &[type='email'] {
          width: 100%;
          margin-top: 10px;
          padding: 15px 20px;
          border: 0;
          border-radius: 100px;
          outline: 0;
          background-color: darken($color-1, 8%);
          color: rgba($white, .5);
        }
      }
    }
  }

  .c-footer__social-networks-container {
    margin: 0 auto;

    span {
      margin-top: 20px;
      opacity: .5;

      @media screen and (min-width: $screen-l) {
        margin-top: 40px;
      }
    }

    .c-footer__logos-item {
      width: 24px;
    }
  }
}
