$menu-sticky: rgb(244, 245, 245);
.c-header {
  position: relative;
  width: 100%;
  height: $header-height;
  background-color: rgba($color-4, .05);
  z-index: 4;

  &.-white {
    background-color: transparent;

    &.-sticky {
      top: 0;

      .c-nav {
        li {
          color: $color-1;
        }
      }
    }
  }

  &.-sticky {
    background-color: $menu-sticky;
    border-bottom: 1px solid rgba($color-4, .1);
    position: fixed;
    z-index: 99;
  }

  .icon-logo {
    width: rem(150px);
    height: rem(54px);
  }

  .c-header__content {
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  .c-header__logo {
    min-width: 200px;
  }

  .c-nav {
    display: none;
  }

  @media screen and (min-width: $screen-l) {

    .c-burger-menu {
      display: none;
    }

    .c-nav {
      display: block;
    }
  }
}
