.c-header {
  position: relative;
  width: 100%;
  height: $header-height;
  background-color: rgba($color-4, .05);
  z-index: 4;

  &.-white {
    background-color: transparent;

    .c-nav {
      li {
        &.-disabled {
          a {
            color: rgba($white, .3);
          }
        }
      }
    }

    &.-sticky {
      top: 0;

      .c-burger-menu {
        &.-white{
          .bm-burger-button  {
            top: rem(35px);
          }
          .bm-burger-bars {
            background-color: $black !important;
          }
        }
      }

      .c-nav {
        li {
          color: $color-1;

          &.-disabled {
            a {
              color: rgba($color-1, .3);
            }
          }
        }
      }
    }
  }

  &.-sticky {
    background-color: $white;
    border-bottom: 1px solid rgba($color-4, .1);
    position: fixed;
    z-index: 99;
    height: rem(80px);
  }

  .icon-logo {
    width: rem(150px);
    height: rem(54px);
  }

  .c-header__content {
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 2;

    .icon {
      width: rem(200px);
      height: rem(200px);
    }
  }

  .c-header__logo {
    min-width: 200px;
  }

  .c-nav {
    display: none;
  }

  @media screen and (min-width: $screen-l) {

    .c-burger-menu {
      display: none;
    }

    .c-nav {
      display: block;
    }
  }
}
