.c-header {
  width: 100%;
  height: rem(118px);

  .icon-logo {
    width: rem(150px);
    height: rem(54px);
  }

  .c-header__content {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .c-nav {
    display: none;
  }

  @media screen and (min-width: $screen-l) {

    .c-burger-menu {
      display: none;
    }

    .c-nav {
      display: block;
    }
  }
}
