.c-motion-circle {
  transition: .5s linear;
  border-radius: 400px;
  background-repeat: no-repeat;

  &.-no-move {
    background-size: cover !important;
    background-position: 0 0 !important;
  }
}
