.c-nav {

  ul {
    margin: 0;
    padding: 0;
    font-size: 0;
    list-style: none;
  }

  li {
    position: relative;
    text-transform: uppercase;
    cursor: pointer;

    &.-selected {
      &::before {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: $color-2;
        content: '';

      }
    }
  }

  @media screen and (min-width: $screen-l) {

    ul {
      text-align: right;
    }

    li {
      display: inline-block;

      &:not(:first-child) {
        margin-left: rem(40px);
      }

      &.-selected {
        &::before {
          position: absolute;
          bottom: rem(-1px);
          left: 0;
          width: 100%;
          height: rem(2px);
          background-color: $color-2;
          content: '';
        }
      }
    }
  }

  .has-sub-menu {
    .sub-menu {
      position: absolute;
      top: rem(22px);
      right: 0;
      width: calc(100% + 100px);
      padding: rem(7px) rem(12px);
      transition: .1s linear;
      border: 2px solid rgba($color-4, .5);
      background-color: $white;
      text-align: center;
      opacity: 0;

      li {
        width: 100%;
        padding: 5px;
        transition: .1s linear;

        &:hover {
          background-color: rgba($color-1, .2);
        }
      }
    }

    &:hover {
      .sub-menu {
        top: rem(24px);
        opacity: 1;
      }
    }
  }
}
