.c-slider {
  position: relative;

  .c-slider__item_blog {
    padding-right: rem(100px);
  }

  .c-slider__container-btn {
    display: flex;
    position: absolute;
    bottom: rem(-20px);
    left: rem(20px);
    flex-direction: row;
    width: 100%;
    outline: 0;
    background-color: $color-1;
    z-index: 2;

    @media screen and (min-width: $screen-l) {
      right: 0;
      left: auto;
      flex-direction: column;
      align-items: flex-end;
      width: rem(100px);
      margin-top: 0;
    }

    .c-slider__btn-slider {
      display: block;
      width: rem(8px);
      height: rem(8px);
      margin-right: rem(40px);
      margin-bottom: 0;
      border-radius: 100%;
      background-color: rgba($white, .5);
      font-size: 0;
      cursor: pointer;

      @media screen and (min-width: $screen-l) {
        margin-right: 0;
        margin-bottom: rem(40px);
      }

      &:focus {
        outline: 0;
      }

      &.selected {
        background-color: $color-2;
      }
    }
  }

  .c-slider__dots {
    position: absolute;
    top: 0;
    right: 0;
    list-style: none;

    li {
      position: relative;
      margin-bottom: 30px;
      font-size: 0;
      cursor: pointer;

      &::before {
        display: block;
        width: 8px;
        height: 8px;
        border-radius: 100%;
        background-color: $white;
        content: '';
        cursor: pointer;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
