.c-slider {
  position: relative;

  .c-slider__item_blog {
    padding-right: rem(100px);
  }

  .c-slider__tag {
    display: block;
    margin-top: rem(15px);
    margin-bottom: rem(10px);
  }

  .c-slider__dots {
    position: absolute;
    padding-left: 0;
    list-style: none;

    @media screen and (min-width: $screen-l) {
      top: 0;
      right: 0;
    }

    li {
      display: inline-block;
      position: relative;
      width: rem(20px);
      height: rem(20px);
      margin: 0 rem(30px) 0 rem(5px);
      padding: 0;
      cursor: pointer;

      @media screen and (min-width: $screen-l) {
        display: block;
        margin-bottom: rem(20px);

        &:last-of-type {
          margin-bottom: 0;
        }
      }

      &:last-of-type {
        margin-right: 0;
      }

      button {
        display: block;
        width: rem(30px);
        height: rem(230px);
        padding: rem(5px);
        border: 0;
        outline: none;
        background: transparent;
        color: transparent;
        font-size: 0;
        line-height: 0;
        cursor: pointer;

        &::before {
          position: absolute;
          top: 0;
          left: 0;
          width: rem(30px);
          height: rem(30px);
          color: $white;
          font-family: 'slick';
          font-size: rem(10px);
          line-height: rem(20px);
          text-align: center;
          content: '\2022';
          opacity: 0.25;
        }
      }
    }

    .slick-active {
      button {
        &::before {
          color: $color-2;
          opacity: 1;
        }
      }
    }
  }
}
