// fonts settings

$font-family-1: 'Lora';
$font-family-2: 'ProximaNova';

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$ff2-size-xs: 12px;
$ff2-size-s: 14px;
$ff1-size-m: 16px;
$ff2-size-l: 32px;
$ff2-size-xl: 46px;

@font-face {
  font-family: $font-family-2;
  font-weight: $font-weight-semibold;
  src: url('./fonts/ProximaNova-Semibold.otf') format('embedded-opentype'),
  url('./fonts/ProximaNova-Semibold.otf');
}

@font-face {
  font-family: $font-family-2;
  font-weight: $font-weight-light;
  src: url('./fonts/ProximaNova-Light.otf') format('embedded-opentype'),
  url('./fonts/ProximaNova-Light.otf');
}

.text {
  color: $black;
  font-family: $font-family-2;
  letter-spacing: 1px;

  &.-ff2-xl {
    font-size: $ff2-size-xl;
    font-weight: $font-weight-semibold;
    line-height: 1.67;
  }

  &.-ff1-l {
    font-size: $ff2-size-l;
    font-weight: $font-weight-light;
    line-height: 1.13;
  }

  &.-ff2-m {
    font-family: $font-family-1;
    font-size: $ff1-size-m;
    line-height: 1.75;
  }

  &.-ff2-s {
    font-size: $ff2-size-s;
    font-weight: $font-weight-semibold;
  }

  &.-ff2-xs {
    font-size: $ff2-size-xs;
    font-weight: $font-weight-semibold;
    line-height: 1.67;
  }

  &.-color-2 {
    color: $color-2;
  }

  &.-color-1 {
    color: $color-1;
  }

  &.-white {
    color: $white;
  }
}
