// Screen break-points

$screen-s: 320px;
$screen-m: 640px;
$screen-l: 768px;
$screen-xl: 1024px;
$screen-xxl: 1080px;
$screen-xxxl: 1712px;
$screen-xxxl-secondary: 1625px;

$header-height: rem(118px);
