.c-button {
  width: 100%;
  height: 40px;
  border-radius: rem(100px);
  cursor: pointer;

  &.-back-orange {
    background-color: $color-2;
  }

  &.-back-white {
    background-color: $white;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  &.-primary,
  &.-secondary {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: auto;
    padding: 10px 30px;
    border: 0;
    border-radius: 100px;
    box-shadow: none;
    cursor: pointer;
  }

  &.-primary {
    background-color: $color-1;
    color: $white;

    &:hover {
      background-color: darken($color-1, 5%);
    }
  }

  &.-secondary {
    background-color: rgba($color-4, .05);
    color: $black;

    &:hover {
      background-color: rgba($color-4, .1);
    }
  }

  &.-white {
    padding-bottom: 0 !important;
    border: 0;
    outline: 0;
    background-color: $white;
    color: $color-2;
  }
}

.c-button-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: rem(40px);
  height: rem(40px);
  border-radius: rem(40px);
  background-color: $color-2;
  color: $white;
  cursor: pointer;

  &.-right {
    transform: rotate(-90deg);
  }

  .icon {
    width: 25px;
    height: 25px;
  }
}
