.c-input {
  &.-text-field {
    transition: border-bottom .1s linear;
    border: 0;
    border-bottom: 2px solid rgba($color-4, .5);
    outline: 0;
    background-color: transparent;
    color: rgba($color-4, .3);


    &:hover,
    &:focus {
      border-bottom: 2px solid $color-4;
      color: $color-4;
    }

    &.-white {
      border-bottom: 1px solid $white;
      color: $white;
    }
  }

  &.-transparent {
    background-color: transparent;
  }

  &.-textarea {
    padding: 8px;
    border: 1px solid rgba($black, .2);
    border-radius: 0;
    outline: 0;
    color: rgba($color-4, .3);

    &:hover,
    &:focus {
      border-bottom: 1px solid $color-4;
      color: $color-4;
    }
  }

  &.-search-bar {

  }

  &.-select-dropdown {

  }

  &.-slider {

  }

  &.-checkbox {

  }
}
