.l-explore {
  h3 {
    margin-bottom: rem(10px);
  }

  .l-explore__slider-content {
    padding: rem(60px) 0;

    .l-explore__image {
      position: relative;

      &::before {
        display: block;
        position: absolute;
        top: -6px;
        left: 30px;
        width: calc(100% - 60px;);
        height: rem(6px);
        border-top: 1px solid rgba($color-4, .1);
        border-right: 1px solid rgba($color-4, .1);
        border-left: 1px solid rgba($color-4, .1);
        background-color: rgba($white, .8);
        content: '';
      }

      &::after {
        display: block;
        position: absolute;
        top: -12px;
        left: 50px;
        width: calc(100% - 100px;);
        height: rem(6px);
        border-top: 1px solid rgba($color-4, .05);
        border-right: 1px solid rgba($color-4, .05);
        border-left: 1px solid rgba($color-4, .05);
        background-color: rgba($white, .6);
        content: '';
      }

      .img {
        width: 100%;
        height: 375px;
        border: 1px solid rgba($color-4, .1);
        background-color: $white;
      }
    }

    .l-explore__content {
      display: none;

      &.-show {
        display: block;
      }

      .c-box-title-content {
        p {
          opacity: .8;
        }
      }
    }
  }

  .l-explore__api-content {
    padding: rem(60px) 0 rem(50px);
  }
}
