@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600');
$quotes-font: 'Fira Sans', sans-serif;
$testimonial-font-size: 18px;

.l-home {
  .l-home__cover {
    display: flex;
    position: relative;
    align-content: center;
    align-items: center;
    justify-content: center;
    min-height: rem(542px);
    background-color: rgba($color-4, .05);

    .l-home__cover-title {
      max-width: rem(700px);

      h1 {
        margin-bottom: rem(10px);
      }
    }

    .c-button-circle {
      position: absolute;
      bottom: -20px;
      z-index: 1;
    }

    .l-home__circle-image {
      position: absolute;
      background-repeat: no-repeat;
      background-size: cover;

      &.-image-1 {
        top: rem(120px);
        left: -30px;
        width: rem(160px);
        height: rem(160px);
        border-radius: rem(160px);

      }

      &.-image-2 {
        bottom: -78px;
        left: -30px;
        width: rem(360px);
        height: rem(360px);
        border-radius: rem(360px);
      }

      &.-image-3 {
        right: rem(240px);
        bottom: -50px;
        width: rem(160px);
        height: rem(160px);
        border-radius: rem(160px);
      }

      &.-image-4 {
        right: -91px;
        bottom: -30px;
        width: rem(360px);
        height: rem(360px);
        border-radius: rem(360px);
      }
    }
  }

  .l-home__intro,
  .l-home__intro-secondary {
    position: relative;
    padding-top: rem(95px);
    background-color: $white;

    .row {
      align-items: center;
    }

    .l-home__intro-image {
      width: rem(510px);
      max-width: rem(510px);
      height: rem(510px);
      margin-right: rem(15px);
      border-radius: rem(510px);
      background-image: url('./images/home/cover/10.jpg');
    }
  }

  .l-home__intro-secondary  {
    margin-top: rem(95px);
    padding-top: 0;

    .l-home__intro-image {
      background-image: url('./images/home/cover/7.jpg');
    }
  }

  .l-home__testimonial {
    margin-top: rem(95px);

    .l-home__testimonial-slider {
      display: flex;
      margin-top: rem(10px);

      .c-button-circle {
        position: absolute;
        top: calc(50% - 40px);
        right: 0;
      }

      .l-home__testimonial-item {
        min-width: calc(100vw / 2.7);
        margin-right: rem(30px);
        padding: rem(40px);
        background-color: rgba($color-4, .05);

        p {
          color: rgba($black-2, .6);
          font-size: $testimonial-font-size;
          font-weight: $font-weight-light;
          letter-spacing: -.4px;
          line-height: 1.67;

          .quotes {
            position: relative;
            top: 5px;
            color: $color-1;
            font-family: $quotes-font;
            font-size: 36px;
            line-height: 0;
          }
        }

        .author-contain {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          margin-top: rem(50px);

          .name {
            font-size: $testimonial-font-size;
          }

          .img {
            width: rem(50px);
            height: rem(50px);
            margin-left: rem(10px);
            border-radius: rem(50px);
            background-color: $color-1;
            background-repeat: no-repeat;
            background-size: cover;
          }
        }
      }
    }
  }

  .l-home__studies {
    margin-top: rem(95px);
    margin-bottom: rem(60px);

    .l-home__studies-slider {
      display: flex;
      margin-top: rem(10px);

      .l-home__studies-item {
        min-width: calc(100vw / 4);
        margin-right: rem(30px);
        background-color: rgba($color-4, .05);

        .img {
          height: rem(180px);
          background-image: url('./images/home/cover/6.jpg');
          background-repeat: no-repeat;
          background-size: cover;
        }

        .text {
          padding: 0 rem(20px) rem(20px);
        }

        .c-box-title-content {
          h2 {
            font-size: 24px;
            line-height: 1.33
          }

          p {
            color: rgba($black-2, .8);
          }
        }
      }
    }
  }
}
