.l-about {
  .l-about__header {
    margin-top: 200px;
  }

  .l-about__types-container {
    margin-top: 230px;
  }

  .l-about__team-container {
    margin-top: 130px;

    .l-about__person-position {
      display: block;
      margin-top: 15px;
    }

    .l-about__person-picture {
      width: 150px;
      height: 150px;
      background-color: $color-2;
    }
  }
}
