.l-about {

  &.-sticky {
    padding-top: rem(118px);
  }

  .l-about__cover {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 50px);
    margin-top: -118px;
    align-content: center;
    align-items: center;
    justify-content: center;
    display: flex;

    &:before {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($black, .4);
      content: '';
      z-index: 2;
    }

    .title {
      position: relative;
      z-index: 2;
      max-width: rem(528px);

      h1,
      p {
        text-align: center;
        max-width: rem(700px);
        padding: 0 rem(25px);
        z-index: 2;

        @media screen and (min-width: $screen-m) {
          padding: 0;
        }
      }

      h1 {
        margin-bottom: 1.25rem;
      }

      &.-sticky {
        padding-top: rem(118px);
      }
    }
  }

  .l-about__information {
    .l-about__information-text {
      max-width: none;
      margin-top: rem(60px);

      .separator {
        margin-bottom: rem(30px);

        &:last-of-type {
          margin-bottom: 0;
        }
      }

      @media screen and (min-width: $screen-l) {
        max-width: rem(510px);
      }

      p {
        margin-top: rem(5px);
        color: rgba($color-4, .8);
      }
    }
  }

  .l-about__staff {
    margin-top: rem(100px);

    .row {
      h2 {
        margin-bottom: rem(20px);
      }

      .columns {
        margin-bottom: rem(30px);
      }
    }

    .l-about__staff-item {
      padding: rem(20px);
      background-color: rgba($color-4, .05);

      .contain-info {
        display: flex;
        flex-direction: row;
        align-items: center;

        .info {
          span {
            font-weight: $font-weight-semibold;
            opacity: .5;
          }
        }

        .img {
          width: rem(130px);
          height: rem(130px);
          margin-right: rem(30px);
          border-radius: rem(130px);
          background-repeat: no-repeat;
          background-size: cover;
        }
      }

      .contain-text {
        margin-top: rem(10px);

        p {
          opacity: .6;
        }
      }
    }
  }

  .l-about__logos {
    padding: rem(140px) 0 rem(70px);

    .l-about__logos-container {
      margin-bottom: rem(10px);

      @media screen and (min-width: $screen-m) {
        margin-bottom: rem(50px);
      }

      &:last-of-type {
        margin-bottom: 0;
      }

      h4 {
        opacity: .5;
      }

      .row {
        margin-top: rem(10px);

        &:first-of-type {
          margin-top: 0;
        }
      }

      .link-logo {
        display: flex;
        align-items: center;
        height: rem(70px);
        margin-top: rem(10px);
        margin-bottom: rem(20px);
        margin-left: rem(15px);
        background-repeat: no-repeat;
        background-size: contain;

        @media screen and (min-width: $screen-m) {
          margin-bottom: 0;
        }

        &.-small {
          height: rem(40px);
        }

        &.-vizzuality {
          position: relative;
          top: rem(5px);
        }
      }

      .l-about__logos-item {
        width: 100%;
        min-width: rem(100px);
        max-width: rem(130px);
        mix-blend-mode: screen;

        &.-esa {
          min-width: rem(100px);
          max-width: rem(110px);
          mix-blend-mode: screen;
        }

        &.-nasa {
          min-width: rem(60px);
          max-width: rem(80px);
          mix-blend-mode: screen;
        }
      }
    }
  }

  .l-about__vacancies {
    background-color: rgba($color-4, .05);
    padding: rem(50px) 0;

    ul {
      list-style: none;
      padding: 0;

      li {
        margin-bottom: rem(20px);

        a {
          letter-spacing: 0;
          font-weight: $font-weight-semibold;
        }

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }

  .l-about__intro,
  .l-about__intro-secondary {
    position: relative;
    padding-top: rem(50px);
    background-color: $white;

    @media screen and (min-width: $screen-m) {
      padding-top: rem(95px);
    }

    .row {
      align-items: center;
      justify-content: space-around;

      @media screen and (min-width: $screen-xxl) {
        justify-content: space-between;
      }
    }

    .l-about__intro-image {
      display: none;

      @media screen and (min-width: $screen-m) {
        display: block;
        width: rem(310px);
        max-width: rem(310px);
        height: rem(310px);
      }

      @media screen and (min-width: $screen-xxl) {
        justify-content: space-between;
      }

      @media screen and (min-width: $screen-xxl) {
        width: rem(510px);
        max-width: rem(510px);
        height: rem(510px);
      }
    }
  }

  .l-about__intro-secondary  {
    margin-top: rem(95px);
    padding-top: 0;
  }
}
