.l-about {
  .l-about__cover {
    position: relative;
    background-color: rgba($color-4, .05);

    .l-about__circle-image {
      position: absolute;
      z-index: 4;

      &.-image-1 {
        display: none;

        @media screen and (min-width: $screen-l) {
          display: block;
          right: -260px;
          bottom: -140px;
          width: rem(572px);
          height: rem(572px);
          border-radius: rem(572px);
        }
      }

      &.-image-2 {
        display: none;
        top: 200px;
        right: 270px;
        width: rem(150px);
        height: rem(150px);
        border-radius: rem(150px);

        @media screen and (min-width: $screen-xl) {
          display: block;
        }
      }

      &.-image-3 {
        display: none;

        @media screen and (min-width: $screen-l) {
          display: block;
          top: 694px;
          right: 135px;
          width: rem(100px);
          height: rem(100px);
          border-radius: rem(360px);
        }

        @media screen and (min-width: $screen-xl) {
          top: 305px;
          right: 312px;
          width: rem(360px);
          height: rem(360px);
          border-radius: rem(360px);
        }
      }

      &.-image-4 {
        display: none;
        right: 178px;
        bottom: -310px;
        width: rem(284px);
        height: rem(284px);
        border-radius: rem(284px);

        @media screen and (min-width: $screen-xl) {
          display: block;
        }
      }

      &.-image-5 {
        display: none;

        @media screen and (min-width: $screen-l) {
          display: block;
          right: -195px;
          bottom: -565px;
          width: rem(422px);
          height: rem(422px);
          border-radius: rem(422px);
        }
      }
    }

    .title {
      max-width: rem(528px);
      margin-top: rem(100px);
      margin-bottom: rem(150px);

      @media screen and (min-width: $screen-l) {
        margin-top: rem(150px);
        margin-bottom: rem(285px);
      }
    }
  }

  .l-about__information {
    .l-about__information-text {
      max-width: none;
      margin-top: rem(60px);

      @media screen and (min-width: $screen-l) {
        max-width: rem(510px);
      }

      p {
        margin-top: rem(5px);
        color: rgba($color-4, .8);
      }
    }

    .l-about__contact {
      display: flex;
      position: relative;
      margin-top: rem(60px);

      .contain-contact {
        display: flex;
        align-items: flex-end;
        width: 100%;
        margin-left: 0;

        @media screen and (min-width: $screen-xl) {
          margin-left: rem(100px);
        }

        .contain-contact-text {
          padding-top: rem(15px);
          border-top: 2px solid rgba($color-4, .4);

          @media screen and (min-width: $screen-xl) {
            padding-top: 0;
            padding-left: rem(15px);
            border-top: 0;
            border-left: 2px solid rgba($color-4, .4);
          }

          h4 {
            padding: 0;

            @media screen and (min-width: $screen-xl) {
              padding: inherit;
            }
          }


          .l-about__contact-text {
            width: 100%;
            margin-top: rem(10px);
            padding: 0;

            @media screen and (min-width: $screen-xl) {
              padding: inherit;
            }

            div {
              margin-bottom: rem(16px);

              &:last-of-type {
                display: inline-block;
                position: relative;
                margin-bottom: 0;

                &:before {
                  display: block;
                  position: absolute;
                  top: -8px;
                  width: 100%;
                  height: 1px;
                  background-color: rgba($black, .2);
                  content: '';

                }
              }
            }

            p {
              opacity: .6;
            }
          }
        }
      }
    }
  }

  .l-about__staff {
    margin-top: rem(100px);

    .row {
      h2 {
        margin-bottom: rem(20px);
      }

      .columns {
        margin-bottom: rem(30px);
      }
    }

    .l-about__staff-item {
      padding: rem(20px);
      background-color: rgba($color-4, .05);

      .contain-info {
        display: flex;
        flex-direction: row;
        align-items: center;

        .info {
          span {
            font-weight: $font-weight-semibold;
            opacity: .5;
          }
        }

        .img {
          width: rem(130px);
          height: rem(130px);
          margin-right: rem(30px);
          border-radius: rem(130px);
          background-repeat: no-repeat;
          background-size: cover;
        }
      }

      .contain-text {
        margin-top: rem(10px);

        p {
          opacity: .6;
        }
      }
    }
  }

  .l-about__board {
    margin-top: rem(70px);
    padding: rem(80px) 0;
    background-color: rgba($color-4, .05);

    .row {
      position: relative;

      h2 {
        margin-bottom: rem(20px);
      }
    }

    .l-about__board-item {
      margin-bottom: rem(60px);

      span {
        display: block;
        margin: rem(20px) 0;
        opacity: .5;
      }

      .img {
        width: rem(130px);
        height: rem(130px);
        border-radius: rem(130px);
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }

  .l-about__logos {
    padding: rem(80px) 0 rem(50px);

    .l-about__logos-container {
      margin-bottom: rem(50px);

      &:last-of-type {
        margin-bottom: 0;
      }

      h4 {
        opacity: .5;
      }

      .row {
        margin-top: rem(10px);

        &:first-of-type {
          margin-top: 0;
        }
      }

      .link-logo {
        display: flex;
        align-items: center;
        margin-right: rem(10px);

        &.-vizzuality {
          position: relative;
          top: rem(7px);
        }
      }

      .l-about__logos-item {
        width: 100%;
        min-width: rem(100px);
        max-width: rem(130px);
        mix-blend-mode: screen;

        &.-esa {
          min-width: rem(100px);
          max-width: rem(110px);
          mix-blend-mode: screen;
        }

        &.-nasa {
          min-width: rem(60px);
          max-width: rem(80px);
          mix-blend-mode: screen;
        }
      }
    }
  }
}
