.l-account {
  .l-account__header {
    margin-top: rem(50px);

    .l-account__form {
      margin-top: rem(30px);

      label {
        display: block;
      }

      input {
        display: block;
        width: 100%;
        margin-bottom: 60px;
        padding-bottom: 8px;

        &[type='button'] {
          width: 50%;
          margin-bottom: 0;
          margin-left: 50%;
        }
      }

      .l-acount__user {
        display: flex;
        justify-content: space-between;

        .l-account__user-input {
          flex-basis: calc(50% - 50px);
        }
      }

      .l-account__token {
        margin-top: rem(30px);
      }
    }
  }

  .l-account__list {
    margin-top: rem(50px);
    list-style: none;

    li {
      display: block;
      margin-bottom: rem(30px);
    }
  }

  .l-account__edit-input,
  .l-account__token-input {
    position: relative;

    .icon {
      position: absolute;
      top: 0;
      right: 0;
      fill: $white;
      width: rem(13px);
      height: rem(13px);
      opacity: .3;
    }
  }
}
