$masonry-margin: rem(15px);

.l-blog {

  .l-blog__header {
    margin-top: rem(200px);
  }

  .l-blog__gallery {
    margin-top: 130px;

    .l-blog__gallery-masonry {
      position: relative;
      left: -$masonry-margin;
      width: calc(100% + #{$masonry-margin * 2});
    }

    .l-blog__gallery-second {
      margin-top: 0;

      @media screen and (min-width: $screen-l) {
        margin-top: rem(50px);
      }
    }

    .l-blog__gallery-item {
      width: calc(100% - #{$masonry-margin * 2});
      margin: $masonry-margin;

      @media screen and (min-width: $screen-m) {
        width: calc(50% - #{$masonry-margin * 2});
        margin-bottom: 0;
      }

      @media screen and (min-width: $screen-l) {
        width: calc(33.33% - #{$masonry-margin * 2});
      }

      .l-blog__gallery-item-picture {
        position: relative;
        width: 100%;
        height: rem(180px);
        margin-bottom: rem(15px);
        background-color: $color-2;

        .l-blog__gallery-item-logo {
          position: absolute;
          right: rem(10px);
          bottom: rem(10px);
          width: rem(25px);
          height: rem(25px);
        }
      }
    }
  }
}
