.l-dashboard {
  display: flex;
  align-items: center;
  justify-content: center;

  .l-dashboard__panel {
    position: relative;
    width: calc(100vw - 100px);
    margin-top: 50px;
    padding: 50px 40px;
    background-color: $white;

    .l-dashboard__item-add {
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;

      .icon-plus {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        height: 80px;
        margin-bottom: 20px;
        border: 1px solid rgba($color-4, .5);
        border-radius: 60px;

        svg {
          width: 30px;
          height: 30px;
        }
      }
    }

    .l-add-dashboard__menu-container {
      display: flex;
      position: absolute;
      top: 0;
      right: 0;
      flex-direction: row;

      .l-add-dashboard__menu {
        padding: 10px 20px;
        transition: background-color .1s linear;
        border-bottom: 1px solid rgba($black, .2);
        border-left: 1px solid rgba($black, .2);
        cursor: pointer;

        &:hover {
          background-color: rgba($black, .1);
        }
      }
    }

    .l-dashboard__container-drag-drop {
      position: relative;
      right: 15px;
      width: calc(100% + 30px);
      max-width: none;
      margin-top: 50px;


      .l-dashboard__item-drag-drop {
        position: relative;
        margin-bottom: 40px;
        padding: 20px;
        border: 1px solid rgba($color-4, .5);
        cursor: move;

        .tags {
          display: block;
          margin-top: 5px;
        }
      }

      .l-dashboard__order {
        display: block;
        position: absolute;
        top: 5px;
        right: 10px;
      }
    }

    .l-dashboard__blog-container,
    .l-dashboard__category-container {
      flex-flow: row wrap;
      justify-content: space-between;
      margin-top: rem(40px);

      &.-show {
        display: flex;
      }

      &.-hidden {
        display: none;
      }

      .l-dashboard__item {
        position: relative;
        flex-basis: calc((100% / 3) - 30px);
        margin-bottom: rem(30px);
        padding: rem(5px) rem(10px);
        border: 1px solid rgba($black, .4);

        .l-dashboard__item-tag {
          margin-top: 5px;
          padding-top: 5px;
          border-top: 1px solid rgba($black, .1);
        }

        .l-dashboard__item-actions {
          display: flex;
          position: absolute;
          top: -1px;
          right: -1px;
          flex-direction: column;
          height: calc(100% + 2px);

          .l-dashboard__item-actions-delete {
            display: flex;
            flex-basis: 50%;
            align-items: center;
            justify-content: center;
            padding: 0 rem(10px);
            background-color: $color-6;
            cursor: pointer;

            .icon {
              width: 18px;
              height: 18px;
              fill: $white;
            }
          }

          .l-dashboard__item-actions-edit {
            display: flex;
            flex-basis: 50%;
            align-items: center;
            justify-content: center;
            padding: 0 rem(10px);
            background-color: $color-5;
            cursor: pointer;

            .icon {
              fill: $white;
            }
          }
        }
      }
    }

    .l-dashboard__category-container {
      .l-dashboard__item {
        display: flex;
        align-items: center;
        min-height: rem(68px);
      }
    }

    .l-dashboard__tabs {
      display: flex;
      margin-top: rem(40px);

      span {
        display: inline-block;
        cursor: pointer;

        &:first-of-type {
          margin-right: rem(40px);
        }

        &.-selected {
          position: relative;

          &::after {
            display: block;
            position: absolute;
            width: 100%;
            height: rem(4px);
            background-color: rgba($black, .5);
            content: '';
          }
        }
      }
    }
  }

  .l-add-dashboard__back-loader {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($black, .5);
    z-index: 30;

    &.-show {
      display: block;
    }
  }

  .l-add-dashboard__message {
    display: flex;
    position: fixed;
    top: -60px;
    left: 0;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    transition: top .3s linear;
    z-index: 50;

    &.-success {
      background-color: $color-5;
    }

    &.-show {
      top: 0;
    }

    span {
      display: block;
      text-align: center;
    }
  }

  .l-dashboard__alert-box {
    display: none;
    position: absolute;
    top: 50%;
    min-width: 400px;
    background-color: $white;
    z-index: 40;

    &.-show {
      display: block;
    }

    h3 {
      padding: 30px;
      text-align: center;
    }

    .l-dashboard__alert-box-options {
      display: flex;
      flex-direction: row;

      .option {
        display: flex;
        flex-basis: 50%;
        align-content: center;
        align-items: center;
        justify-content: center;
        min-height: 40px;
        padding: 0 20px;
        cursor: pointer;

        &.-yes {
          background-color: $color-5;
        }

        &.-no {
          background-color: $color-6;
        }
      }
    }
  }
}
