.l-dashboard {
  display: flex;
  align-items: center;
  justify-content: center;

  .l-dashboard__panel {
    width: calc(100vw - 100px);
    margin-top: 50px;
    padding: 50px 40px;
    background-color: $white;
  }
}
