$height-slider: rem(375px);
$animation: .3s;
$animation-text: .2s;
$animation-delay: .35s;

.l-explore {
  h3 {
    margin-bottom: rem(10px);
  }

  .l-explore__slider-content {
    padding: rem(60px) 0;
    background-color: rgba($color-4, .05);

    .l-explore__image {
      position: relative;
      height: $height-slider;

      &::before {
        display: block;
        position: absolute;
        top: -7px;
        left: 30px;
        width: calc(100% - 60px;);
        height: rem(15px);
        border-top: 1px solid rgba($color-4, .15);
        border-right: 1px solid rgba($color-4, .15);
        border-left: 1px solid rgba($color-4, .15);
        background-color: rgba($white, .8);
        content: '';
      }

      &::after {
        display: block;
        position: absolute;
        top: -14px;
        left: 50px;
        width: calc(100% - 100px;);
        height: rem(7px);
        border-top: 1px solid rgba($color-4, .1);
        border-right: 1px solid rgba($color-4, .1);
        border-left: 1px solid rgba($color-4, .1);
        background-color: rgba($white, .6);
        content: '';
      }

      .img {
        position: absolute;
        top: 0;
        left: rem(15px);
        width: calc(100% - 30px);
        height: $height-slider;
        transition: $animation linear;
        border: 1px solid rgba($color-4, .1);
        background-repeat: no-repeat;
        background-size: cover;

        &.-show {
          opacity: 1;
        }

        &.-hidden {
          top: 10px;
          opacity: 0;
        }
      }
    }

    .l-explore__content {
      display: flex;
      position: relative;
      align-items: center;
      height: $height-slider;

      .box-container {
        position: absolute;
        width: 100%;
        transition: opacity $animation-text linear;

        &.-show {
          position: absolute;
          opacity: 1;
        }

        &.-hidden {
          opacity: 0;
        }
      }

      .c-box-title-content {
        p {
          opacity: .8;
        }
      }
    }

    .l-explore__circle-container {
      list-style: none;

      .circle {
        display: inline-block;
        width: rem(10px);
        height: rem(10px);
        margin-right: rem(20px);
        transition: background-color $animation linear;
        border-radius: rem(10px);
        background-color: rgba($color-4, .2);
        cursor: pointer;

        &:last-of-type {
          margin-right: 0;
        }

        &.-active {
          background-color: $color-2;
        }
      }
    }
  }

  .l-explore__api-content {
    padding: rem(60px) 0 rem(50px);
  }
}
