$height-slider: rem(375px);
$height-slider-small: rem(275px);
$animation: .3s;
$animation-text: .2s;
$animation-delay: .35s;

.l-explore {
  position: relative;

  h3 {
    margin-bottom: rem(10px);
  }

  &.-sticky {
    padding-top: rem(118px);
  }

  .l-explore__slider-content {

    background-color: rgba($color-4, .05);

    @media screen and (min-width: $screen-l) {
      padding: rem(60px) 0;
    }

    .l-explore__image {
      display: none;
      position: relative;
      max-width: rem(600px);
      min-height: $height-slider;
      margin: rem(20px) auto;

      @media screen and (min-width: $screen-m) {
        display: block;
        margin: rem(20px) auto;
      }


      @media screen and (min-width: $screen-xl) {
        display: block;
        max-width: none;
        min-height: $height-slider;
        margin: 0 auto;
      }

      &::before {
        display: block;
        position: absolute;
        top: -7px;
        left: 30px;
        width: calc(100% - 60px;);
        height: rem(15px);
        border-top: 1px solid rgba($color-4, .15);
        border-right: 1px solid rgba($color-4, .15);
        border-left: 1px solid rgba($color-4, .15);
        background-color: rgba($white, .8);
        content: '';
      }

      &::after {
        display: block;
        position: absolute;
        top: -14px;
        left: 50px;
        width: calc(100% - 100px;);
        height: rem(7px);
        border-top: 1px solid rgba($color-4, .1);
        border-right: 1px solid rgba($color-4, .1);
        border-left: 1px solid rgba($color-4, .1);
        background-color: rgba($white, .6);
        content: '';
      }

      .img {
        position: absolute;
        top: 0;
        left: rem(15px);
        width: calc(100% - 30px);
        min-height: $height-slider;
        transition: $animation linear;
        border: 1px solid rgba($color-4, .1);
        background-repeat: no-repeat;
        background-size: cover;

        &.-show {
          opacity: 1;
        }

        &.-hidden {
          top: 10px;
          opacity: 0;
        }
      }
    }

    .l-explore__content {
      display: flex;
      position: relative;
      right: rem(15px);
      align-items: center;
      max-width: calc(100vw - 100px);
      height: $height-slider;
      margin: -40px auto 0;

      @media screen and (min-width: $screen-m) {
        max-width: rem(540px);
        padding: 0;
      }

      @media screen and (min-width: $screen-l) {
        right: inherit;
        max-width: rem(570px);
        margin: -10px auto 0;
      }

      @media screen and (min-width: $screen-xl) {
        max-width: none;
      }

      .box-container {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        transition: opacity $animation-text linear;

        &.-show {
          position: absolute;
          opacity: 1;
        }

        &.-hidden {
          opacity: 0;
        }

        .container-buttons {
          display: flex;
          flex-direction: column;
          margin-top: rem(20px);

          @media screen and (min-width: $screen-s) {
            flex-direction: row;
            margin-top: rem(30px);
          }

          .c-button {
            width: 100%;
            margin: 0 auto rem(10px);

            @media screen and (min-width: $screen-s) {
              width: rem(180px);
              margin-right: rem(15px);
              margin-bottom: 0;
              margin-left: 0;
            }
          }
        }
      }

      .c-box-title-content {
        p {
          opacity: .8;
        }
      }
    }

    .l-explore__circle-container {
      list-style: none;
      text-align: center;

      @media screen and (min-width: $screen-m) {
        position: absolute;
        top: rem(420px);
        left: 50%;
        transform: translate(-50%, -50%);
      }

      @media screen and (min-width: $screen-l) {
        top: rem(480px);
        text-align: left;
      }

      @media screen and (min-width: $screen-xl) {
        position: inherit;
        top: inherit;
        left: inherit;
        transform: none;
      }

      &.-sticky {
        @media screen and (min-width: $screen-m) {
          top: rem(538px);
        }

        @media screen and (min-width: $screen-l) {
          top: rem(598px);
        }
      }

      button {
        margin-right: rem(20px);
        outline: 0;
      }

      .circle {
        display: inline-block;
        width: rem(15px);
        height: rem(15px);
        transition: background-color $animation linear;
        border-radius: rem(10px);
        background-color: rgba($color-4, .2);
        cursor: pointer;

        @media screen and (min-width: $screen-l) {
          width: rem(10px);
          height: rem(10px);
        }

        &:last-of-type {
          margin-right: 0;
        }

        &.-active {
          background-color: $color-2;
        }
      }
    }
  }

  .l-explore__api-content {
    padding: rem(60px) 0 rem(50px);

    .c-box-card {
      margin-bottom: rem(30px);

      @media screen and (min-width: $screen-xl) {
        margin-bottom: 0;
      }
    }
  }

  .l-explore__modal-resquest {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: rem(700px);
    padding: rem(60px);
    transform: translate(-50%, -50%);
    background-color: $white;
    z-index: 4;

    form {
      position: relative;

      .icon {
        position: absolute;
        top: -50px;
        right: -50px;
        width: rem(20px);
        height: rem(20px);
        cursor: pointer;
      }

      .contain-input {
        margin-top: rem(30px);

        &:first-of-type {
          margin-top: 0;
        }

        label,
        input {
          display: block;
        }

        input {
          width: 100%;
          margin-top: rem(5px);
        }

        textarea {
          width: 100%;
          min-height: rem(150px);
          margin-top: rem(5px);
          padding: rem(10px);
          transition: border .1s linear;
          border: 2px solid rgba($color-4, .5);
          border-radius: 0;
          outline: 0;

          &:hover {
            border: 2px solid $color-4;
          }
        }
      }

      .contain-button {
        display: flex;
        justify-content: flex-end;
        margin-top: 30px;

        button {
          max-width: rem(180px);
        }
      }
    }
  }

  .l-explore__modal-back {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color-4, .4);
    z-index: 3;
  }
}
