.l-get-involved {
  padding: 0 0 rem(100px);
  background-color: rgba($color-4, .05);

  @media screen and (min-width: $screen-l) {
    padding: rem(60px) rem(70px) rem(100px);
  }

  @media screen and (min-width: $screen-xl) {
    padding: rem(110px) 0 rem(175px);
  }

  &.-sticky {
    padding-top: rem(118px);

    @media screen and (min-width: $screen-l) {
      padding-top: rem(178px)
    }

    @media screen and (min-width: $screen-xl) {
      padding-top: rem(228px);
    }
  }

  .hidden-box {
    display: none;
  }

  .l-get-involved__tab-case {
    margin-top: rem(10px);

    .tab-case-list {
      display: flex;
      justify-content: space-between;
      padding: 0;
      background-color: rgba($white, .8);
      list-style: none;
      width: 100%;
      border-radius: rem(20px);

      button {
        margin-right: rem(50px);
        cursor: pointer;
        flex-basis: calc(100% / 3);
        text-align: center;
        height: rem(30px);
        border-radius: rem(20px);

        &.-selected {
          color: $white;
          background-color: $color-1;
        }

        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }

  .l-get-involved__form {
    position: relative;
    margin-top: rem(35px);
    padding-top: rem(35px);

    &::before {
      display: block;
      position: absolute;
      top: 0;
      width: calc(100% - 30px);
      height: 2px;
      background-color: rgba($color-4, .2);
      content: '';
    }

    @media screen and (min-width: $screen-xl) {
      margin: rem(15px) 0;
      padding-top: 0;
      border-top: 0;

      &::before {
        display: none;
      }
    }

    label {
      display: block;
      margin-bottom: rem(5px);
    }

    input {
      width: 100%;
      margin-bottom: rem(35px);
      padding: 0 0 rem(8px);
    }

    .contain-button {
      display: flex;
      justify-content: flex-end;
      margin-top: rem(30px);

      button {
        max-width: rem(155px);
      }
    }

    .contain-select {
      position: relative;

      .icon {
        position: absolute;
        top: calc(50% - 15px);
        right: 0;
        width: rem(25px);
        height: rem(25px);
        opacity: .5;
      }
    }

    .contain-textarea {
      margin-top: rem(35px);

      textarea {
        width: 100%;
        min-height: rem(150px);
        margin-top: rem(5px);
        padding: rem(10px);
        transition: border .1s linear;
        border: 2px solid rgba($color-4, .5);
        border-radius: 0;
        outline: 0;
        background-color: transparent;

        &:hover {
          border: 2px solid $color-4;
        }
      }
    }
  }
}
