.l-home {

  .l-home__block {
    display: flex;
    align-items: center;
    height: 100vh;

    &:first-of-type {
      height: calc(100vh - #{$header-height});
    }
  }

  .l-home__summary {
    text-align: center;
  }

  .l-home__description {
    margin-top: rem(20px);
  }

  .l-home__example {

    > .row {
      flex-direction: column-reverse;
    }

    .l-home__example-text {
      display: flex;
      align-items: center;
      height: 100%;

      .l-home__example-text-2 {
        margin-top: rem(20px);
      }

      .l-home__example-text-3 {
        margin-top: rem(19px);
      }

      .l-home__example-button,
      .l-home__example-search {
        margin-top: rem(10px);
      }
    }

    .l-home__example-img-container {
      text-align: center;
    }

    img {
      width: 100%;
      max-width: rem(330px);
    }
  }

  .l-home__slider {
    max-width: 100%;
    width: 100%;
    height: rem(168px);
    padding-right: rem(10px);

    span {
      display: block;
      width: 100%;
      height: 100%;
      background-color: red;
    }
  }

  @media screen and (min-width: $screen-m) {

    .l-home__example {

      &:not(.l-home__example--inverse) > .row {
        flex-direction: row;
      }

      &.l-home__example--inverse > .row {
        flex-direction: row-reverse;
      }

      .l-home__example-button,
      .l-home__example-search {
        margin-top: rem(30px);
      }
    }

    .l-home__slider {
      height: rem(375px);
      padding-right: 0;
    }
  }
}
