.l-login {
  align-items: center;
  height: 100vh;

  .l-login__form {
    padding: 30px;
    background-color: $white;
    box-shadow: 1px 1px 6px 1px rgba($black, .3);

    form {
      label {
        display: block;
        margin-bottom: 5px;
      }

      input {
        display: block;
        width: 100%;
        margin-bottom: 60px;
        padding-bottom: 8px;
        border: 0;
        border-bottom: 1px solid rgba($black, .2);
        outline: 0;

        &[type='button'] {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 50%;
          margin-bottom: 0;
          margin-left: 50%;
          padding: 10px 30px;
          border-radius: 100px;
          background-color: $color-1;
          cursor: pointer;
        }
      }
    }
  }
}
