$height-slider: rem(510px);
.l-news {
  .row {
    align-items: center;
    justify-content: space-between;
  }

  .l-news__cover {
    padding: rem(12px) 0 rem(60px);
    background-color: rgba($color-4, .05);

    .row {
      position: relative;
    }

    .l-news__image {
      position: relative;
      height: $height-slider;

      .circle-image {
        position: absolute;
        top: 0;
        width: rem(510px);
        max-width: rem(510px);
        height: rem(510px);
        max-height: rem(510px);
        transition: opacity $animation-text linear;
        border-radius: rem(510px);
        background-color: $color-1;


        &.-show {
          position: absolute;
          opacity: 1;
        }

        &.-hidden {
          opacity: 0;
        }
      }
    }

    .l-news__text-cover {
      display: flex;
      position: relative;
      align-items: center;
      height: $height-slider;
      padding-right: rem(45px);

      .text-cover-contain {
        position: absolute;
        width: 100%;
        transition: opacity $animation-text linear;

        &.-show {
          position: absolute;
          opacity: 1;
        }

        &.-hidden {
          opacity: 0;
        }
      }
    }

    .dots-cover {
      position: absolute;
      right: 0;
      padding: 0;
      transform: translate(50%, 0%);
      list-style: none;

      li,
      button {
        display: block;
        width: rem(8px);
        height: rem(8px);
        margin-bottom: rem(40px);
        border-radius: rem(8px);
        outline: 0;
        background-color: rgba($color-4, .1);
        cursor: pointer;

        &.-selected {
          background-color: $color-2;
        }
      }
    }
  }

  .l-news__gallery {
    padding: rem(60px) 0 rem(30px);

    .row {
      align-items: normal;

      .c-box-card {
        margin-bottom: rem(30px);

        .c-box-title-content {
          h2 {
            font-size: $ff2-size-xm;
          }
        }
      }
    }

    .contain-button {
      display: flex;
      align-content: center;
      justify-content: center;
      margin-top: rem(30px);

      button {
        min-width: rem(200px);
      }
    }
  }
}
