$height-slider: rem(510px);
.l-news {
  .row {
    align-items: center;
    justify-content: space-between;
  }

  .l-news__cover {
    position: relative;
    padding: rem(12px) 0 rem(30px);
    background-color: rgba($color-4, .05);
    z-index: 1;

    @media screen and (min-width: $screen-m) {
      padding: rem(12px) 0 rem(60px);
    }

    .row {
      position: relative;
    }

    .l-news__image {
      display: none;
      position: relative;

      @media screen and (min-width: $screen-m) {
        display: flex;
        justify-content: center;
        width: rem(310px);
        height: rem(310px);
      }

      @media screen and (min-width: $screen-xxl) {
        display: block;
        width: $height-slider;
        height: $height-slider;
      }

      .circle-image {
        position: absolute;
        top: 0;
        width: rem(310px);
        max-width: rem(310px);
        height: rem(310px);
        max-height: rem(310px);
        transition: opacity $animation-text linear;
        border-radius: rem(310px);
        background-color: $color-1;

        @media screen and (min-width: $screen-xxl) {
          width: rem(510px);
          max-width: rem(510px);
          height: rem(510px);
          max-height: rem(510px);
        }


        &.-show {
          position: absolute;
          opacity: 1;
          z-index: 10;
        }

        &.-hidden {
          opacity: 0;
        }
      }

      &.-safari {
        .circle-image {
          left: rem(20px);
          @media screen and (min-width: $screen-xxl) {
            right: 20px;
            left: inherit;
          }
        }
      }
    }

    .l-news__text-cover {
      display: flex;
      position: relative;
      align-items: center;
      min-height: rem(250px);
      padding-right: rem(45px);

      @media screen and (min-width: $screen-m) {
        min-height: $height-slider;
      }

      .text-cover-contain {
        position: absolute;
        top: 25%;
        left: 50%;
        width: 100%;
        max-width: calc(100vw - 50px);
        transform: translate(-50%, -50%);
        transition: opacity $animation-text linear;

        @media screen and (min-width: $screen-m) {
          max-width: none;
          top: 50%;
        }

        &.-show {
          position: absolute;
          opacity: 1;
          z-index: 4;
        }

        &.-hidden {
          opacity: 0;
        }
      }
    }

    .dots-cover {
      position: absolute;
      bottom: -25px;
      left: 50%;
      width: 100%;
      margin-left: rem(30px);
      padding: 0;
      transform: translate(-50%, -50%);
      list-style: none;
      text-align: left;
      z-index: 5;

      @media screen and (min-width: $screen-m) {
        bottom: 0;
        margin-left: 0;
        text-align: center;
      }

      @media screen and (min-width: $screen-l) {
        width: auto;
      }

      @media screen and (min-width: $screen-xxl) {
        top: 50%;
        right: 0;
        bottom: auto;
        left: auto;
        transform: translate(-50%, -50%);
      }

      li,
      button {
        display: inline-block;
        width: rem(15px);
        height: rem(15px);
        margin-right: rem(40px);
        border-radius: rem(8px);
        outline: 0;
        background-color: rgba($color-4, .1);
        cursor: pointer;

        @media screen and (min-width: $screen-l) {
          width: rem(8px);
          height: rem(8px);
        }

        @media screen and (min-width: $screen-xxl) {
          display: block;
          margin-right: 0;
          margin-bottom: rem(40px);
        }

        li {
          margin-bottom: 5px;

          @media screen and (min-width: $screen-xxl) {
            margin-bottom: 0;
          }
        }

        &.-selected {
          background-color: $color-2;
        }
      }
    }

    .c-box-title-content {
      padding-right: rem(40px);
    }
  }

  .l-news__gallery {
    padding: rem(60px) 0 rem(30px);

    .row {
      align-items: normal;

      .c-box-card {
        margin-bottom: rem(30px);

        .c-box-title-content {
          h2 {
            font-size: $ff2-size-xm;
          }

          p {
            display: none;

            @media screen and (min-width: $screen-s) {
              display: block;
            }
          }
        }
      }
    }

    .contain-button {
      display: flex;
      align-content: center;
      justify-content: center;
      margin-top: rem(30px);

      button {
        max-width: rem(300px);
      }
    }
  }
}
